.gradle/
.idea/
Email/.idea/
Email/Email.iml
Email/build/
Email/local.properties
Exchange/Exchange.iml
Exchange/build/
JrdEmail3.iml
TctEmail/TctEmail.iml
TctEmail/build/
appcompat/appcompat.iml
appcompat/build/
build/
gridlayout/build/
gridlayout/gridlayout.iml
local.properties

